/*
* Generic styles
*
* 1. Body reset
* 2. Links
* 3. Images
*
*/


// 1. Body reset
// --------------------------------------------------
html,
body
  height 100%
  margin 0
  padding 0
  width 100%

body
  color #5b5b5f
  font-family 'Open Sans', 'Arial', sans-serif

// 2. Links
// --------------------------------------------------
a
  color $purple

  &:hover,
  &:focus
    color $purple


// 3. Images
// --------------------------------------------------
img
  height auto
  max-width 100%
  vertical-align middle

