/*
* Generic styles
*
* 1. Texts colors
*
*/


// 1. Texts colors
// --------------------------------------------------
.text-purple
  color $purple

.text-purple-light
  color $purple-light

.text-yellow-dark
  color $yellow-dark


// 2. Sizes
// --------------------------------------------------
.w-100
  width 100%