/*
* Variables
*
* 1. Colors
*
*/


// 1. Colors
// --------------------------------------------------

$purple-dark        = #532065
$purple             = #632678
$purple-light       = #825193
$yellow-dark        = #e2a235
$blue-dark          = #25488e
$gray-light         = #fcf9ff