/*!
 *   Test Frontend
 *   Author: William Hoffmann <williamhoffmann@outlook.com>
!*/



// Settings
// --------------------------------------------------
@import "_settings/variables"



// Base
// --------------------------------------------------
@import "_base/generic"
@import "_base/utilities"



// Components
// --------------------------------------------------
@import "components/sprite"
@import "components/button"



// Layout
// --------------------------------------------------
@import "layout/navbar"
@import "layout/header"
@import "layout/main"
@import "layout/footer"