/*
* Sprite
*
*/


.spr
  background url('../imgs/sprite.png') no-repeat top left
  display inline-block

  &-logo
    background-position 0 -402px
    height 24px
    width 238px

  &-monitor,
  &-plus,
  &-luck
    background-position 0 0
    height 70px
    width 70px

  &-plus
    background-position 0 -72px

  &-luck
    background-position 0 -142px

  &-calendar
    background-position 0px -325px
    height 42px
    width 54px


