/*
* Main
*
*/


.main
  margin-top 30px


/* Como participar */
.box-1
  .title
    font-size 22px
    text-align center

  .items
    margin-top 30px

    .group-image
      display block
      margin 30px auto 10px

    .group-text
      font-size 120%

  .link
    margin-top 40px
