/*
* Navbar
*
*/


.navbar
  &-custom
    background-color #ffff
    border-color #fff
    padding 12px 0

  &-toggle
    background url('../imgs/burguer.png') no-repeat;
    margin-left 15px
    border-radius 0
    float left

  @media (max-width 768px)
    &-toggle
      margin-top 22px

    &-brand
      float right

  &-collapse
    padding-top 5px

  &-nav
    >li>a:hover,
    >li>a:focus
      background-color #fcf9ff

    .btn
      &.btn-default
        background transparent
        border-color $purple
        color $purple
        font-weight 600
        margin 6px 0 6px 10px
        padding 8px

        &:hover,
        &:focus
          background-color #fcf9ff

    @media (max-width 768px)
      .btn
        &.btn-default
          margin-right 10px
